*{
    box-sizing: content-box;
}
body,html{
    height: 100%;
}

.main-div__item{
    display: inline-block;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    border: 1px solid red;
}
.main-div__item--extra{
    height: 50%;
    width: 50%;
    
}

body div:last-of-type:hover{
    background-color: aqua;
}