body{
    font-family: sans-serif;
}

code{
    font-family: monospace;
    color: red;
}

li{
    font-family: inherit;
}

li + li{
    color: white;
    background: black;
}

ol li{
    color: white;
    background: black;
}

.green-text-code{
    color: green;
}

#assignment-instructions{
    color:blue
}

